<html>
    <head>

    </head>
    <body>
        <form action="/user/add" method="post">
            <div>
                <h1>form page</h1>
        <div>
            <label for="fullname">name:</label>
            <div>
                <input type="text" id="fullname" name="fullname"/>
            </div>
        </div>
        <div>
            <label for="email">email:</label>
            <div>
                <input type="email" id="email" name="email"/>
            </div>
        </div>
        <div>
            <label for="age">age:</label>
            <div>
                <input type="number" id="age" name="age"/>
            </div>
        </div>
        <div>
            <label for="city">city:</label>
            <div>
                <input type="text" id="city" name="city"/>
            </div>
        </div>
        <div>
            <label for="profession">profession:</label>
            <div>
                <input type="text" id="profession" name="profession"/>
            </div>
        </div></div>
        <button type="submit">Submit</button>
    </form>
    </body>
</html>